@{
    ViewData["Title"] = "Login";
}

<div class="mb-3 row">
    <label for="email" class="form-label">Email Address</label>
    <input type="email" class="form-control form-control-sm" id="email" placeholder="name@example.com">
</div>
<div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2-form-label">Password</label>
    <input type="password" class="form-control form-control-sm" id="inputPassword" placeholder="Enter your password">
</div>
<div class="mb-3 row">
    <button type="submit" class="btn btn-primary mb-3">Login</button>
</div>